body {
    background-color: black;
    color: white;
}

.col-1 {
    border: 1px solid white;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
}

.text-box {
    background-color: white;
    width: 100%;
    height: 100px;
}

#changed {
    margin-top: 100px;
}

#changed .col-1 {
    background-color: rgb(226, 110, 43);
}

#pressed {
    margin-top: 100px;
}

#pressed .col-1 {
    background-color: blueviolet;
}