.col-1 {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    margin: 3px;
    border-radius: 50%;
}

.text-box {
    border: 1px solid black;
    height: 100px;
}

#typed-text {
    color: black;
}

#changed {
    margin-top: 50px;
}

#changed .col-1 {
    background-color: orange;
}

#pressed {
    margin-top: 50px;
}

#pressed .col-1 {
    background-color: blueviolet;
}